<form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="width: 100%;">
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="labelSize" nzFor="category" nzRequired>Select Category</nz-form-label>
                <nz-form-control [nzSpan]="controlSize" nzErrorTip="Please select category!">
                    <nz-select [(ngModel)]="selectedCategory" [compareWith]="compareFn" formControlName="category" nzPlaceHolder="Choose" ngDefaultControl (ngModelChange)="changeCategory($event)">
                        <nz-option *ngFor="let o of categoryOptionList" [nzValue]="o" [nzLabel]="o.label"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="labelSize" nzFor="subCategory" nzRequired>Select SubCategory</nz-form-label>
                <nz-form-control [nzSpan]="controlSize" nzErrorTip="Please select subcategory!">
                    <nz-select [(ngModel)]="selectedSubCategory" [compareWith]="compareFn" formControlName="subCategory" nzPlaceHolder="Choose" ngDefaultControl>
                        <nz-option *ngFor="let o of subCategoryOptionList" [nzValue]="o" [nzLabel]="o.label"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="labelSize" nzFor="manufacturer" nzRequired>Manufacturer</nz-form-label>
                <nz-form-control [nzSpan]="controlSize" nzErrorTip="Please select manufacturer!">
                    <nz-select [(ngModel)]="selectedManufacturer" [compareWith]="compareFn" formControlName="manufacturer" nzPlaceHolder="Choose" ngDefaultControl>
                        <nz-option *ngFor="let o of manufacturerOptionList" [nzValue]="o" [nzLabel]="o.label"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="labelSize" nzFor="itemName" nzRequired>Item Name</nz-form-label>
                <nz-form-control [nzSpan]="controlSize" [nzValidateStatus]="validateForm.controls['itemName']" nzErrorTip="Please input item name!">
                    <input nz-input [(ngModel)]="itemNameValue" formControlName="itemName" id="'itemName'" maxlength="50" required />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="labelSize" nzFor="price" nzRequired>Price</nz-form-label>
                <nz-form-control [nzSpan]="controlSize" [nzValidateStatus]="validateForm.controls['price']" nzErrorTip="Please input price!">
                    <nz-input-number [(ngModel)]="priceValue" formControlName="price" [nzMax]="999999999" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar" ngDefaultControl>
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="labelSize" nzFor="stock" nzRequired>No. of Stock Items</nz-form-label>
                <nz-form-control [nzSpan]="controlSize" [nzValidateStatus]="validateForm.controls['stock']" nzErrorTip="Please input No. of Stock Items!">
                    <nz-input-number [(ngModel)]="stockValue" formControlName="stock" [nzMin]="1" [nzMax]="999999999" [nzStep]="1" ngDefaultControl>
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="10">
            <div nz-row>
                <div class="clearfix">
                    <nz-upload [nzAction]="uploadUrl" nzListType="picture-card" [(nzFileList)]="pictureControls" [nzShowButton]="pictureControls.length < 4" [nzPreview]="handlePreview" [nzBeforeUpload]="beforeUpload" (nzChange)="handleUploadPictureChange($event)">
                        <i nz-icon nzType="plus" style="font-size: 32px;color: #999;"></i>
                        <div class="ant-upload-text">Upload</div>
                    </nz-upload>
                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                        </ng-template>
                    </nz-modal>
                </div>
            </div>
            <div nz-row>
                <button nz-button nzType="primary" class="sell-button">Save & Sell Item</button>
            </div>
        </div>
    </div>
    <nz-divider nzText="Description" nzOrientation="left"></nz-divider>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item *ngFor="let control of descriptionControls; let i = index">
                <nz-form-control [nzOffset]="labelSize" [nzSpan]="controlSize" nzErrorTip="Please input description or delete this field.">
                    <input class="description-input" [(ngModel)]="control.value" nz-input [attr.id]="control.id" [formControlName]="control.controlInstance" />
                    <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzOffset]="labelSize" [nzSpan]="controlSize">
                    <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                    <i nz-icon nzType="plus"></i>
                    Add field
                  </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>