<div nz-row nzJustify="center">
    <div nz-col [nzSpan]="20">

        <nz-table #rowSelectionTable [nzShowPagination]="false" [(nzData)]="listOfData">
            <thead>
                <tr>
                    <th [(nzChecked)]="allChecked " [nzIndeterminate]="indeterminate " (nzCheckedChange)="onAllChecked($event) "></th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Number</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of rowSelectionTable.data; index as i " id="tr{{i}}">
                    <td [nzChecked]="setOfCheckedId.has(data.id) " (nzCheckedChange)="onItemChecked(data, $event) "></td>
                    <td>
                        <a [routerLink]="['/items-pecifications',data.id]">
                            <div nz-row>
                                <div nz-col>
                                    <img src="{{ data.cover }} " width="50px " height="50px " />
                                </div>
                                <div nz-col>
                                    <div nz-row>
                                        <div nz-col>
                                            {{ data.manufactur }}
                                        </div>
                                    </div>
                                    <div nz-row>
                                        <div nz-col>
                                            {{ data.itemName }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td>{{ data.price + data.tax | currency }}</td>
                    <td>
                        <nz-input-number [(ngModel)]="data.number" [nzMin]="1 " [nzMax]="100 " [nzStep]="1 " (ngModelChange)="updateTotalPriceSum()"></nz-input-number>
                    </td>
                    <td>{{ data.number * (data.price + data.tax) | currency }}</td>
                    <td>
                        <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)"><i class="fas fa-trash-alt "></i><span class="ml-1 ">Delete</span></button>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <div nz-row [nzJustify]="'end'" class="mt-2">
            <div nz-col [nzSpan]="6">
                <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="12" class="text-right">
                        <h6 i18n="@@TotalTax">Total Tax</h6>
                    </div>
                    <div nz-col nzSpan="12">
                        <h6>{{totalTax| currency }}</h6>
                    </div>
                </div>
                <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="12" class="text-right">
                        <h6 i18n="@@TotalPrice">Total Price</h6>
                    </div>
                    <div nz-col nzSpan="12">
                        <h6>{{totalPrice| currency }}</h6>
                    </div>
                </div>
                <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="12" class="text-right">
                        <button nz-button nzType="primary" nzDanger nzSize="large" i18n="@@ApplyDiscount ">Apply Discount</button>
                    </div>
                    <div nz-col nzSpan="12">
                        <button nz-button nzType="primary" nzSize="large" (click)="checkout()" i18n="@@Checkout">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div nz-row nzJustify="center" class="mt-5">
    <div nz-col>
        <button [routerLink]="['/']" class="btn btn-link btn-sm"><i class="fas fa-angle-double-left"></i>Back to Search</button>
    </div>
</div>