<div nz-row nzJustify="center">
    <div nz-col nzSpan="10">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch><i class="fas fa-search"></i>Search</button>
        </ng-template>
    </div>
</div>
<div nz-row class="mt-3" nzJustify="start" style="height: 50px;">
    <div nz-col nzSpan="4">
        <nz-space [nzSize]="16">
            <nz-space-item>
                Manufacturer
            </nz-space-item>
            <nz-space-item>
                <nz-select ngModel="manufacturer" nzSize="small" id="manufacturer" style="margin-top: 10px;">
                    <nz-option nzValue="1" nzLabel="Samsung"></nz-option>
                    <nz-option nzValue="2" nzLabel="OPPO"></nz-option>
                </nz-select>
            </nz-space-item>
            <nz-space-item>
                Price
            </nz-space-item>
            <nz-space-item>
                <input nz-input id="priceFrom" class="price-txt" placeholder="$" nzSize="small" />
            </nz-space-item>
            <nz-space-item>
                ~
            </nz-space-item>
            <nz-space-item>
                <input nz-input id="priceTo" class="price-txt" placeholder="$" nzSize="small" />
            </nz-space-item>
            <nz-space-item>
                <button nz-button nzType="primary" nzSize="small" i18n="@@Filter"><i class="fas fa-filter"></i>Filter</button>
            </nz-space-item>
        </nz-space>
    </div>
</div>
<nz-table #sortTable [nzData]="listOfData" nzShowPagination nzPageSize="5">
    <thead>
        <tr>
            <th style="font-weight:bold" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td>
                <a href="# ">
                    <div nz-row>
                        <div nz-col>
                            <img src="{{ data.picture }} " width="50px " height="50px " />
                        </div>
                        <div nz-col>
                            <div nz-row>
                                <div nz-col>
                                    {{ data.subcategory }}
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col>
                                    {{ data.item }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
            <td>{{ data.price | currency}}</td>
            <td>{{ data.seller }}</td>
            <td>{{ data.salesvolume }}</td>
            <td>
                <button nz-button routerLink="/items-pecifications/{{data.id}}" nzType="primary" nzSize="small" i18n="@@ViewDetails">View Details<i class="fas fa-angle-double-right"></i></button>
            </td>
        </tr>
    </tbody>
</nz-table>