<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="width: 100%;">
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="4" class="pic-fix-szie" nzOffset="1">
            <nz-carousel [nzEffect]="effect" nzAutoPlay>
                <div nz-carousel-content *ngFor="let pic of data?.pictures">
                    <img src="{{pic}}" class="pic-fix-szie">
                </div>
            </nz-carousel>
        </div>
        <div nz-col [nzSpan]="6" nzOffset="1">
            <div nz-row>
                <h6>{{data?.itemName}}</h6>
            </div>
            <div nz-row style="margin-bottom: 10px;">
                <div id="price">{{data?.price | currency}}</div>
            </div>
            <div nz-row>
                <h6>{{data?.seller}}</h6>
            </div>
            <div nz-row [nzGutter]="16">
                <div nz-col>
                    <h6>Sales volume</h6>
                </div>
                <div nz-col>
                    <h6 style="color: red;">{{data?.salesVolume}}</h6>
                </div>
            </div>
            <div nz-row [nzGutter]="16" nzAlign="middle" style="margin-bottom: 10px;">
                <div nz-col>
                    <h6>Number</h6>
                </div>
                <div nz-col>
                    <nz-form-item>
                        <nz-form-control>
                            <nz-input-number formControlName="volume" [(ngModel)]="num" [nzMin]="1" [nzMax]="data?.salesVolume" [nzStep]="1" ngDefaultControl></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col>
                    <button nz-button nzType="primary" nzSize="large" i18n="@@Checkout">Checkout</button>
                </div>
                <div nz-col>
                    <button nz-button nzType="primary" nzDanger nzSize="large" i18n="@@AddToCart" (click)="addToCart()"><i class="fas fa-shopping-cart"></i>Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</form>
<nz-divider></nz-divider>
<div nz-row>
    <div nz-col [nzSpan]="16" nzOffset="2">
        <nz-descriptions nzTitle="Descriptions">
            <nz-descriptions-item [nzTitle]="description.label" *ngFor="let description of data?.descriptions">
                {{description.value}}
            </nz-descriptions-item>
        </nz-descriptions>
    </div>
</div>
<div nz-row nzJustify="center">
    <div nz-col>
        <button (click)="goBack()" class="btn btn-link btn-sm"><i class="fas fa-angle-double-left"></i>Back</button>
    </div>
</div>