<div nz-row nzJustify="center">
    <div nz-col nzSpan="10">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchContent" />
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()"><i class="fas fa-search"></i>Search</button>
        </ng-template>
    </div>
</div>
<div nz-row class="mt-3" nzJustify="start" style="height: 50px;">
    <div nz-col nzSpan="4">
        <nz-space [nzSize]="16">
            <nz-space-item>
                Manufacturer
            </nz-space-item>
            <nz-space-item>
                <nz-select [(ngModel)]="selectedManufacturer" [compareWith]="compareFn" nzSize="small" nzPlaceHolder="Choose">
                    <nz-option *ngFor="let o of manufacturerOptionList" [nzValue]="o" [nzLabel]="o.label"></nz-option>
                </nz-select>
            </nz-space-item>
            <nz-space-item>
                Price
            </nz-space-item>
            <nz-space-item>
                <input nz-input [(ngModel)]="priceFrom" class="price-txt" placeholder="$" nzSize="small" />
            </nz-space-item>
            <nz-space-item>
                ~
            </nz-space-item>
            <nz-space-item>
                <input nz-input [(ngModel)]="priceTo" class="price-txt" placeholder="$" nzSize="small" />
            </nz-space-item>
            <nz-space-item>
                <button nz-button nzType="primary" nzSize="small" i18n="@@Filter" (click)="filter()"><i class="fas fa-filter"></i>Filter</button>
            </nz-space-item>
            <nz-space-item>
                <button nz-button nzType="primary" nzSize="small" i18n="@@Filter" (click)="clear()">Clear</button>
            </nz-space-item>
        </nz-space>
    </div>
</div>
<nz-table #sortTable [nzData]="listCurrentData" nzShowPagination nzPageSize="5">
    <thead>
        <tr>
            <th style="font-weight:bold" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td>
                <a [routerLink]="['/items-pecifications',data.id]">
                    <div nz-row>
                        <div nz-col>
                            <img src="{{ data.pictures[0] }} " width="50px " height="50px " />
                        </div>
                        <div nz-col>
                            <div nz-row>
                                <div nz-col>
                                    {{ data.manufactur }}
                                </div>
                            </div>
                            <div nz-row>
                                <div nz-col>
                                    {{ data.item }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
            <td>{{ data.price | currency}}</td>
            <td>{{ data.seller }}</td>
            <td>{{ data.volume }}</td>
            <td>
                <button nz-button routerLink="/items-pecifications/{{data.id}}" nzType="primary" nzSize="small" i18n="@@ViewDetails">View Details<i class="fas fa-angle-double-right"></i></button>
            </td>
        </tr>
    </tbody>
</nz-table>