/* You can add global styles to this file, and also import other style files */


/* update your 'styles.css' with */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './assets/fontawesome-free-5.13.0-web/css/all.css';
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../node_modules/ng-zorro-antd/style/index.min.css";
@import "../node_modules/ng-zorro-antd/button/style/index.min.css";
@import "../node_modules/ng-zorro-antd/input/style/index.min.css";
label.xrequired:after {
    content: '* ';
    color: red;
}


/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    /* color: #616161; */
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.container,
.container-fluid {
    display: flex;
    flex-direction: column;
}

.container-fix-width {
    width: 700px;
}

.h-center {
    display: flex;
    justify-content: center;
}

router-outlet+* {
    padding: 0 16px;
}


/* Text */


/* Hyperlink */


/* Input */


/* Top Bar */

app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}