<div class="container">
    <div class="col-lg-8">
        <h1 i18n="@@login.Header" class="text-center">Create your account</h1>
        <div class="form-group">
            <label for="username" class="xrequired" i18n="@@login.Username">Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="email" class="xrequired" i18n="@@login.Email">Email address</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd" class="xrequired" i18n="@@login.Password">Password</label>
            <input type="password" class="form-control" id="pwd">
            <p style="font-size: 0.7em" i18n="@@login.passwordTips">Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</p>
        </div>
        <div class="form-group">
            <label for="mobile" class="xrequired" i18n="@@login.Mobile">Mobile number</label>
            <input type="text" class="form-control" id="mobile">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" style="width: 100%;" i18n="@@Singup">Signup</button>
        </div>
        <div class="form-group">

        </div>
    </div>
</div>