<div nz-row nzJustify="center" nzAlign="top">
    <div nz-col nzSpan="12">
        <h1 i18n="@@signup.Header" class="text-center">Create your account</h1>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="width: 100%;">

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired i18n="@@signup.Username">
                    <span>Username</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="Please input your username!">
                    <input nz-input id="username" formControlName="username" [(ngModel)]="model.username" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email" i18n="@@signup.Email">Email address</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                    <input nz-input formControlName="email" id="email" [(ngModel)]="model.email" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired i18n="@@signup.Password">Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="combineTpl">
                    <input nz-input type="password" id="password" formControlName="password" [(ngModel)]="model.password" (ngModelChange)="updateConfirmValidator()" />
                    <ng-template #combineTpl let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">MaxLength is 15</ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">MinLength is 8</ng-container>
                        <ng-container *ngIf="control.hasError('required')">Input is required</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired i18n="@@signup.ConfirmPassword">Confirm Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTpl">
                    <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')" i18n="@@signup.PlsConfirmPassword">
                            Please confirm your password!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')" i18n="@@signup.PasswordsInconsistent">
                            Two passwords that you enter is inconsistent!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mobile" nzRequired>Mobile number</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['mobile']" nzHasFeedback nzErrorTip="Please input your mobile number!">
                    <input formControlName="mobile" id="'mobile'" nz-input [(ngModel)]="model.mobilePhone" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6" [nzSm]="14" [nzXs]="24">
                    <button nz-button nzType="primary" style="width: 100%;">Register</button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mt-2">
                <nz-form-control [nzOffset]="6">
                    <a [routerLink]="['/singup-seller']">
                        <span style="font-size: 1.5em;"><i class="far fa-user-circle"></i>
                            <span i18n="@@signup.SingupAsSeller">Signup as seller</span>
                        </span>
                    </a>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>