<div class="container container-fix-width">
    <h1 i18n="@@signup.Header" class="text-center">Create your account</h1>
    <div class="form-group">
        <label for="username" class="xrequired" i18n="@@signup.Username">Username</label>
        <input type="text" class="form-control" id="username" required>
    </div>
    <div class="form-group">
        <label for="email" class="xrequired" i18n="@@signup.Email">Email address</label>
        <input type="text" class="form-control" id="email" required>
    </div>
    <div class="form-group">
        <label for="pwd" class="xrequired" i18n="@@signup.Password">Password</label>
        <input type="password" class="form-control" id="pwd" required>
        <p style="font-size: 0.7em" i18n="@@signup.passwordTips">Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</p>
    </div>
    <div class="form-group">
        <label for="company" class="xrequired" i18n="@@signup.Company">Company name</label>
        <input type="text" class="form-control" id="company" required>
    </div>
    <div class="form-group">
        <label for="contact" class="xrequired" i18n="@@signup.Contact">Contact number</label>
        <input type="text" class="form-control" id="contact" required>
    </div>
    <div class="form-group">
        <label for="gstin" class="xrequired" i18n="@@signup.GSTIN">GSTIN</label>
        <input type="text" class="form-control" id="gstin" required>
    </div>
    <div class="form-group">
        <label for="postal" class="xrequired" i18n="@@signup.Postal">Postal address</label>
        <input type="text" class="form-control" id="postal" required>
    </div>
    <div class="form-group">
        <label for="website" i18n="@@signup.Website">Website</label>
        <input type="text" class="form-control" id="website">
    </div>
    <div class="form-group">
        <label for="brief" i18n="@@signup.BriefAboutCompany">Brief about company</label>
        <textarea class="form-control" rows="3" id="brief"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" style="width: 100%;" i18n="@@Singup">Signup</button>
    </div>
    <div class="form-group">
        <a href="#">
            <span style="font-size: 1.2em;"><i class="far fa-user-circle"></i>
          <span i18n="@@signup.SingupAsBuyer">Signup as buyer</span>
            </span>
        </a>
    </div>
</div>