<div nz-row nzJustify="center">
    <div nz-col [nzSpan]="16">
        <nz-tabset>
            <nz-tab nzTitle="Add Item">
                <app-add-item></app-add-item>
            </nz-tab>
            <nz-tab nzTitle="Manage Stock">
                <ng-template nz-tab>
                    <app-manage-stock></app-manage-stock>
                </ng-template>
            </nz-tab>
            <nz-tab nzTitle="Reports">
                <ng-template nz-tab>
                    <app-reports></app-reports>
                </ng-template>
            </nz-tab>
        </nz-tabset>
    </div>
</div>